section(class='banner container')
      .banner__inner
        h2.banner__inner-title Готовы начать зарабатывать<span>на финансовых рынках</span>?
        .buttons
          button.banner__inner-open открыть счет
          button.banner__inner-demo-btn открыть демо-счет