footer.footer
  div(class='footer__inner container')
    img(src="./img/logo2.png" alt="Footer Logo" class='footer__inner-logo')
    .footer__inner-nav
      //- list 1
      ul.footer__list 
        li.footer__list-item
          a(href="#") О компании  
        li.footer__list-item
          a(href="#") Аналитика
        li.footer__list-item
          a(href="#") Партнерство
      //- list 2
      ul.footer__list
        li.footer__list-item
          a(href="#") Торговля
        li.footer__list-item
          a(href="#") Бонусы 
        li.footer__list-item
          a(href="#") FAQ
    //- documents
    ul.footer__documents
      li.footer__documents-item  
        a(href="#") Условия использования сайта
      li.footer__documents-item 
        a(href="#") Заявление о раскрытии рисков
      li.footer__documents-item 
        a(href="#") Борьба с лег-й преступных доходов
      li.footer__documents-item 
        a(href="#") Политика конфиденциальности
    //- payment
    ul.footer__payment 
      li.footer__payment-item
        a(href="#")
          img(src="./img/footer/1.png" alt="Payment service")
      li.footer__payment-item 
        a(href="#")
          img(src="./img/footer/2.png" alt="Payment service")
      li.footer__payment-item 
        a(href="#")
          img(src="./img/footer/3.png" alt="Payment service")
      li.footer__payment-item 
        a(href="#")
          img(src="./img/footer/4.png" alt="Payment service")
      li.footer__payment-item 
        a(href="#")
          img(src="./img/footer/5.png" alt="Payment service")
      li.footer__payment-item 
        a(href="#")
          img(src="./img/footer/6.png" alt="Payment service")
  .footer__disclaimer
    p.footer__disclaimer-text Компания “Helion Capital” предупреждает: торговля на финансовых рынках позволяет извлекать неограниченное количество доходности которая, в свою очередь, несет высокие риски. Спекулятивная торговля с использованием маржинальных инструментов подходит не для каждого инвестора, перед началом торговли настоятельно рекомендуем убедиться в том, что Ваш опыт, размер риска, уровень дохода, свободные средства, инвестиционные задачи и др. соответствует данному виду деятельности.
    img(src="./img/footer/sho.png" alt="zrobleno:sho?" class='footer__disclaimer-logo')