header.header
  a(href="index.html")
    img(src="./img/logo.png" alt="Logo" class='header__logo')
  div.header__intro
    div.links 
      ul.links__list
        li.links__list-item 
          a(href="#") Web-терминал
        li.links__list-item 
          a(href="./contact.html") Контакты
        li.links__list-item
          a(href="#") FAQ
      ul.links__entry
        li.links__entry-item 
          a(href="#" id='sign-up') Регистрация      
        li.links__entry-item
          a(href="#" id='sign-in') Войти
      button.links__btn  Перезвоните мне 
      ul.switch-lang
        li(class='switch-lang__item active') RU
        li(class='switch-lang__item') EN
    nav.nav
      ul.nav__list    
        li.nav__list-item 
          a(href="./about.html") О компании 
            svg 
              use(xlink:href='#arrow-down')
        li.nav__list-item 
          a(href="#") Торговля 
            svg 
              use(xlink:href='#arrow-down') 
        li.nav__list-item  
          a(href="#") Аналитика
            svg 
              use(xlink:href='#arrow-down') 
        li.nav__list-item  
          a(href="./tools.html") Бонусы
            svg 
              use(xlink:href='#arrow-down')
        li.nav__list-item 
          a(href="#") Партнерство
      //- subnav
      .subnav
        .subnav__achievement  
          img(src="./img/achievement.png", alt="")
          p.subnav__achievement-description «Лучший Форекс-Брокер Европы 2017»
        //- about company
        ul.subnav__list
          li.subnav__list-item
            a(href="./about.html") О компании
          li.subnav__list-item
            a(href="") Защита средств
          li.subnav__list-item
            a(href="") Реквизиты банка
          li.subnav__list-item
            a(href="") Новости компании
          li.subnav__list-item
            a(href="") Награды
        //- trade
        ul.subnav__list
          li.subnav__list-item
            a(href="") Платформа
          li.subnav__list-item
            a(href="") Обучение
          li.subnav__list-item
            a(href="") Счета
          li.subnav__list-item
            a(href="") Инструменты
          li.subnav__list-item
            a(href="") Пополнение и вывод 
        //- analytics
        ul.subnav__list
          li.subnav__list-item
            a(href="") Обзоры рынка
          li.subnav__list-item
            a(href="") Прогнозы
          li.subnav__list-item
            a(href="") Новости рынка
          li.subnav__list-item
            a(href="") Экономический к-рь
          li.subnav__list-item
            a(href="") Дивиденды
        //- bonus
        ul.subnav__list
          li.subnav__list-item
            a(href="./tools.html") Welcome Bonus
          li.subnav__list-item
            a(href="") Test Drive Bonus
          li.subnav__list-item
            a(href="") Проценты на счет 
        //- partnership
        ul.subnav__list
          li.subnav__list-item
            a(href="") Свободный агент
          li.subnav__list-item
            a(href="") Франчайзинг
          li.subnav__list-item
            a(href="") White Label
          li.subnav__list-item
            a(href="") Call-центр 
