.sign-in  
  .sign-in__overlay
  .sign-in__inner
    .sign-in__intro
      h2.sign-in__intro-title Вход
      p.sign-in__intro-text Заполните поля для входа
    form.sign-in__form
      .sign-in__form-inputs
        input(type="email	" placeholder='Логин или E-mail:')
        input(type="password" placeholder='Пароль:')
      .sign-in__form-buttons
        a(href="#" class='sign-in__form-link') Забыли пароль?
        a(href="#" class='sign-in__form-link') Зарегистрироваться
        button.sign-in__form-btn Войти