<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.min.css")
    title About
  body
    include ./pug/svg.pug
    include ./pug/header.pug

    main
      //- intro
      section.intro-about
        div(class='intro__inner container') 
          h1.intro__inner-title О компании
          p.intro__inner-text Одно из главных преимуществ инвестиционного брокера "Helion Capital" - гарантированная выплата дивидендов. 
        ul.intro__list  
          li.intro__list-item
            svg
              use(xlink:href='#intro-item1')  
            a(href="#") Защита средств 
          li.intro__list-item
            svg
              use(xlink:href='#intro-item2')  
            a(href="#") Быстрый старт
          li.intro__list-item
            svg
              use(xlink:href='#intro-item3')  
            a(href="#") Аналитика рынка 
          li.intro__list-item
            svg
              use(xlink:href='#intro-item4')  
            a(href="#") Аналитика рынка
      //- /intro
      //- about-company
      section(class='about container')
        .about__intro
          h2.about__intro-title О компании
          span
        .about__inner
          p.about__inner-text “Helion Capital” - это инвестиционный брокер, основанный в 2008 году в Соединенном Королевстве, предоставляющий высококачественные сервисные услуги в направлении интернет-трейдинга для клиентов по всему миру. На сегодняшний день компания входит в десятку лучших инвестиционных брокеров мира, о чем свидетельствуют более 5 международных наград за достижения в финансовой сфере. <br>“Helion apital” оказывает онлайн-поддержку в более чем 110 различных странах мира, включая Россию, Казахстан, Украину и другие страны Европы, Латинской Америки и Азии.
          img(src="./img/about/about.png", alt="" class='about__inner-img')
      //- /about-company
      //- advantages
      section.advantages
        div(class='advantages__inner container')
          .advantages__intro
            h2.about__intro-title Наши преимущества
            span
          ul.advantages__list
            li.list__item
              h3.list__item-title Безупречная репутация
              p.list__item-text С самого основания компании мы всегда стремимся к совершенству, чтобы обеспечить компании успех в долгосрочной перспективе. Международные награды, устойчивость в периоды сложных экономических и политических кризисов, лицензии и рейтинги - помогают нам завоевывать доверие наших инвесторов и трейдеров.
            li.list__item
              h3.list__item-title Внушительный набор инструментов
              p.list__item-text Будучи нашим клиентом, Вы получите доступ к нескольким типам торговых счетов с широчайшим выбором инструментов: CFD контракты на валютные пары, акции, индексы, товары и сырье, криптовалюту, а так же получите возможность выбрать торговый терминал: Metatrader 4, TradeMux.
            li.list__item
              h3.list__item-title Актуальные торговые стратегии
              p.list__item-text Наша аналитическая команда всегда старается помочь каждому разобраться в тонкостях финансового рынка и подобрать наиболее доходную и безопасную торговую стратегию. Для этого наш собственный аналитический центр ежедневно детально обрабатывает круглосуточные ленты новостей Bloomberg, Dow Jones, Reuters, ТАСС .
            li.list__item
              h3.list__item-title Защита торговых средств клиента
              p.list__item-text Ни для кого не секрет, что Соединенное Королевство является всемирно признанным финансовым центром, а хранить деньги в Европейской компании - это символ высокого престижа. Компания использует сегрегированные счета, то есть средства клиента хранятся отдельно от средств брокера, что обеспечивает клиенту дополнительную безопасность.
            li.list__item
              h3.list__item-title Индивидуальный сервис
              p.list__item-text Мы предоставляем Вам личного финансового советника, который поможет Вам подобрать индивидуальные торговые решения согласно Вашим целям, станет личным консультантом по инвестициям, поможет избежать ненужных рисков, подберет стратегию поведения и подходящие финансовые продукты.
            li.list__item
              button.list__item-btn Начать зарабатывать вместе с нами
      //- /advantages
      include ./pug/banner.pug
    include ./pug/footer.pug