section(class='banner container')
      .banner__inner
        h2.banner__inner-title Готовы начать зарабатывать на финансовых рынках?
        button.banner__inner-open открыть счет
        button.banner__inner-demo-btn открыть демо-счет