<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/main.min.css")
    title Tools
  body
    include ./pug/svg.pug
    include ./pug/header.pug

    main.main
      //- intro
      section.intro-tools
        div(class='intro__inner container') 
          h1.intro__inner-title Welcome bonus
        ul.intro__list  
          li.intro__list-item
            svg
              use(xlink:href='#intro-item1')  
            a(href="#") Защита средств 
          li.intro__list-item
            svg
              use(xlink:href='#intro-item2')  
            a(href="#") Быстрый старт
          li.intro__list-item
            svg
              use(xlink:href='#intro-item3')  
            a(href="#") Аналитика рынка 
          li.intro__list-item
            svg
              use(xlink:href='#intro-item5')  
            a(href="#") Различные Бонусы
      //- /intro
      //- tools
      section.tools 
        div(class='tools__inner container')
          .tools__intro
            h2.tools__intro-title Инструменты
            span
          p.tools__text Помимо валютных пар существует значительное колличество инструментов, которые позволяют извлекать ощутимую прибыль, несмотря на их более низкую волатильность.<br>За исключением 54 валютных пар, у Вас имеется возможность торговать по 72 инструментам CFD (нефть, газ, сельхозтовары, цветные металлы, акции, индексы, криптовалюты) на особенно выгодных для Вас условиях.
          ul.tools__list
            //- 1
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon1')
                p.list__item-text Forex
            //- 2
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon2')
                p.list__item-text Криптовалюты
            //- 3
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon3')
                p.list__item-text Нефть и газ
            //- 4
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon4')
                p.list__item-text Акции
            //- 5
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon5')
                p.list__item-text Сельхозтовары
            //- 6
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon6')
                p.list__item-text Металлы
            //- 7
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon4')
                p.list__item-text Индексы
            //- 8
            li.list__item
              button.list__item-btn
                svg.list__item-img
                  use(xlink:href='#tools-icon7')
                p.list__item-text Открыть счет
      //- /tools
      //- banner
      include ./pug/banner.pug
      //- /banner
    include ./pug/footer.pug