/*demo
=============================*/
.banner {
  background: url(../img/demo/BG.png) center;
  background-size: 1044px 349px;
  padding: 15px 13px;
  margin-bottom: 60px;
  &__inner {
    border: 1px solid #fff;
    padding: 22px 20px;

    &-title {
      max-width: 460px;
      margin-bottom: 40px;

      font-family: $mRegular;
      font-size: 37px;
      line-height: 43px;
      color: #fff;
    }
    button {
      max-width: 220px;
      width: 100%;
      padding: 18px 15px;

      border: 2px solid #ffffff;
      background: none;

      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #fff;
      &:hover {
        color: #d09e70;
        background: #fff;
        transition: 0.2s;
      }
    }
    &-open {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width:1100px){
  .banner{
    margin: 0 20px;
  }
}

@media screen and (max-width:600px){
  .banner{
    background: url(../img/demo/mobile-bg.jpg) center no-repeat;
    background-size: cover;
    .buttons{
      display: flex;
      flex-direction: column;
    }
    &__inner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-title{
        text-align: center;
        span{
          display: none;
        }
      }
      &-open{
        margin-bottom: 10px;
      }
    }
  }
}