@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "./fonts.scss";

$hRegular: "HelveticaRegular";
$hMedium: "HelveticaMedium";
$hBold: "HelveticaBold";
$mRegular: "MilioRegular";
$mMedium: "MilioMedium";
$mBold: "MilioBold";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $hRegular;
  background: rgba(232, 232, 232, 0.4);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@import "./header.scss";
@import "./intro.scss";

/*features
=============================*/
.features {
  &__intro {
    display: flex;
    align-items: center;
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 36px;
      line-height: 53px;
      color: #43191f;

      margin-right: 35px;
    }
    span {
      max-width: 604px;
      width: 100%;
      height: 2px;
      background: #dfdfdf;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__list {
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #d09e70;

      margin-bottom: 20px;
    }
    &-item {
      display: flex;
      align-items: center;
      max-height: 242px;
      height: 100%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        width: 50px;
        height: 50px;
        margin-right: 17px;
      }
    }
    &-text {
      font-size: 16px;
      line-height: 22px;
      max-width: 400px;
    }
  }
}

/*offers
============================*/
.offers {
  &__intro {
    display: flex;
    align-items: center;
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 36px;
      line-height: 53px;
      color: #43191f;

      margin-right: 50px;
    }
    span {
      max-width: 410px;
      width: 100%;
      height: 2px;
      background: #d09e70;

      margin-right: 25px;
    }
    &-link {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      color: #43191f;
    }
  }
  &__list {
    display: flex;
    margin-bottom: 50px;
    &-item {
      box-sizing: padding-box;
      list-style: none;
      max-width: 320px;
      max-height: 206px;
      width: 100%;

      padding: 20px;
      margin-right: 33px;

      background: #ffffff;
      border: 5px solid #e0e0e0;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border: 10px solid #cb9c71;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
      }
    }
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #632831;

      margin-bottom: 16px;
    }
    &-text {
      font-size: 12px;
      line-height: 14px;
      color: #686868;

      margin-bottom: 10px;
      max-width: 250px;
    }
    &-offer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: $mRegular;
        font-size: 18px;
        line-height: 25px;
        color: #cb9c71;
        // margin-right: 81px;
      }
      a {
        font-size: 12px;
        line-height: 17px;
        color: #632831;
      }
    }
  }
}
/*accounts
====================*/

.accounts {
  background: #fff;
  padding: 52px 0;
  &__intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 36px;
      line-height: 53px;
      color: #43191f;

      margin-right: 50px;
      margin-bottom: 25px;
    }
    span {
      max-width: 535px;
      width: 100%;
      height: 2px;
      background: #d09e70;

      margin-right: 25px;
    }
    &-link {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      color: #43191f;
    }
    &-text {
      font-size: 18px;
      line-height: 25px;
      color: #979797;
      margin-bottom: 35px;
    }
  }
  .accounts-carusel {
    .list__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-right: 31px;
      margin-bottom: 52px;
      max-width: 320px;
      outline: 0;

      list-style: none;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
      &:last-child {
        margin-right: 0;
      }
      &-intro {
        position: relative;
        text-align: center;
        padding: 39px 20px;
        margin-bottom: 34px;
      }
      &-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
      &-title {
        font-family: $mRegular;
        font-size: 36px;
        line-height: 51px;
        color: #fff;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 14px;
        line-height: 17px;
        color: #fff;
      }
      &-services {
        padding: 0 20px;
        margin-bottom: 27px;
        li {
          padding-left: 12px;
          list-style: none;
          font-size: 14px;
          line-height: 41px;

          border-bottom: 1px solid #c4c4c4;
          &:first-child {
            border-top: 1px solid #c4c4c4;
          }
          &::before {
            content: "\25A0";
            color: #d09e70;
            width: 5px;
            margin-right: 9px;
          }
        }
      }
      &-btn {
        padding: 19px 70px 15px 70px;
        margin-bottom: 20px;

        border: 1px solid #2a2a2a;
        background: none;

        font-family: $hRegular;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #2a2a2a;
        cursor: pointer;
      }
    }
    .slick-current {
      .list__item {
        &-btn {
          background: #d09e70;
          border: 1px solid #d09e70;
          color: #fff;
        }
      }
    }
  }
}

.slick {
  
  &-arrow {
    position: absolute;
    top: 35%;

    z-index: 10;
    font-size: 0;
    width: 37px;
    height: 78px;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
  &-prev {
    left: calc(50% - 31px / 2 - 562.5px);
    background: url("../img/accounts/arrow-left.png") no-repeat;
  }
  &-next {
    right: calc(50% - 31px / 2 - 562.5px);
    background: url("../img/accounts/arrow-right.png") no-repeat;
  }
}

.slick-dots {
  display: flex;
  
  list-style: none;
}