@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "./fonts.scss";

$hRegular: "HelveticaRegular";
$hMedium: "HelveticaMedium";
$hBold: "HelveticaBold";
$mRegular: "MilioRegular";
$mMedium: "MilioMedium";
$mBold: "MilioBold";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $hRegular;
  background: rgba(232, 232, 232, 0.4);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@import "./header.scss";
@import "./intro.scss";
@import "./features.scss";
@import "./offers.scss";
@import "./accounts.scss";