/*offers
============================*/
.offers {
  &__intro {
    display: flex;
    align-items: center;
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 36px;
      line-height: 53px;
      color: #43191f;

      margin-right: 50px;
    }
    span {
      max-width: 410px;
      width: 100%;
      height: 2px;
      background: #d09e70;

      margin-right: 25px;
    }
    &-link {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      color: #43191f;
    }
  }
  &__list {
    display: flex;
    margin-bottom: 50px;
    &-item {
      box-sizing: padding-box;
      list-style: none;
      max-width: 320px;
      max-height: 206px;
      width: 100%;

      padding: 20px;
      margin-right: 33px;

      background: #ffffff;
      border: 5px solid #e0e0e0;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border: 10px solid #cb9c71;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
      }
    }
    &-title {
      font-family: $mRegular;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      color: #632831;

      margin-bottom: 16px;
    }
    &-text {
      font-size: 12px;
      line-height: 14px;
      color: #686868;

      margin-bottom: 10px;
      max-width: 250px;
    }
    &-offer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: $mRegular;
        font-size: 18px;
        line-height: 25px;
        color: #cb9c71;
        // margin-right: 81px;
      }
      a {
        font-size: 12px;
        line-height: 17px;
        color: #632831;
      }
    }
  }
}
